visualwebarena/results/*
.DS_Store
pycache/
visualwebarena/venv/
webarena_prompt_injections/venv/
claude-35-computer-use-demo/.venv/
claude-37-computer-use-demo/.venv/
.vscode/
claude-35-computer-use-demo/claude_computer_use_logs/
claude-37-computer-use-demo/claude_computer_use_logs/
.idea/
hf_cache/
output/
*.pt
*.bin
*.safetensors
